*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Luckiest Guy';
    background-color: rgb(218, 216, 216);
 }
.container{
    
    background: linear-gradient(-45deg, #dd251f, #eb1e84, #29addd, #23d5ab) no-repeat;
    padding: 10px;
    overflow: auto;
  
}
.container h1{
    
    float: left;
    margin-left: 10%;
    margin-top: 4%;
    color: azure;
}
.container ul{
    list-style-type: none;
    font-size: 23px;
    margin-left: 60%;
}
.container li{
    margin-top: 10%;
    float: left;
    padding: 0 30px 0 30px;
}
.container a{
    text-decoration: none;
    color: azure;
}
.atual a::after{
    content: '_';
    background-color: rgb(235, 240, 235);
    font-size: 4px;
    display: block;
}
.envolve{
    display: grid;
    grid-template-columns: 80% 17%;
}
.equação{
    background-image: url(imagem/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 70px;
    background-color: rgb(238, 238, 230);
    border-radius: 3px;
    text-align: center;
    padding-top: 27%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.equação h1{
    
    display: inline;
    padding: 15px;
}
.opçõesRespostas{
    font-size: 66px;
    margin-right: 10px;
}
.opçõesRespostas{
    cursor: pointer;
    color: azure;
    border-radius: 3px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
#opcao1{
    background-color: rgb(11, 184, 63);
    transition: 1s;
    
}
#opcao1:hover{
    color: rgb(53, 7, 161);
    background-color: azure;
}
#opcao2{
    background-color: rgb(228, 15, 15);
    transition: 1s;
}
#opcao2:hover{
    color: rgb(139, 5, 83);
    background-color: azure;
}
#opcao3{
    background-color: rgb(216, 236, 33);
    transition: 1s;
}
#opcao3:hover{
    color: rgb(219, 206, 24);
    background-color: azure;
}
